.timeWrapper {
	display: flex;
}

.time {
	font-weight: bold;
}

.time + .time {
	margin-left: 30px;
}

.timepicker {
	display: flex;
	align-items: flex-end;
	margin-bottom: 40px;
}

.timepicker > * + *{
	margin-left: 30px;
}

.table {
	border: 1px solid #1890ff;
	border-collapse: collapse;
	font-size: 16px;
}

.tableWrapper {
	overflow-x: scroll;
}

.table tr, .table td {
	border: 1px solid #1890ff;
	padding: 15px 20px;
}

.tableTitle {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: #a53838;
}

.tableEditable {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background: green;
	z-index: 3333;
	cursor: grab;
}

.tableSave {
	cursor: pointer;
}

.colTitle {
	min-width: 300px;
	position: sticky;
	background: #fff;
	border: 1px solid #1890ff !important;
	left: 0;
	z-index: 3;
}

.colTitle:after {
	content: '';
	position: absolute;
	top: 0;
	left: -1px;
	height: 100%;
	border-left: 1px solid #1890ff;
}

.colTime {
	min-width: 140px;
	text-align: center;
}
